img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

ion-content{
    --background: #EDF7F6;
}

ion-card {
    --ion-background-color: #F19953;
}

#loc {
    --background:#C47335;
}