<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div id="logo">
      <img src="assets/img/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="JobsForm" (submit)="Postjobs()">
    <ion-grid>
    <ion-label>Job Position</ion-label>
    <ion-card>
        <ion-input formControlName="job_position" id="job_position" type="text" placeholder="Enter Job Position" required>
          
        </ion-input>
        <ng-container>
          <div *ngIf="(JobsForm.get('job_position').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
      </ion-card>

      <ion-label>Category</ion-label>
    <ion-card>
        <ion-input formControlName="category" id="category" type="text" placeholder="Enter Skills Category such as IT, Admin, " required>
          
        </ion-input>
        <ng-container>
          <div *ngIf="(JobsForm.get('category').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
      </ion-card>

      <ion-label>Qualification</ion-label>
      <ion-card>
        <ion-select formControlName="qualification" interface="action-sheet" placeholder="Select Qualification">
          <ion-select-option value="O' Level">O' Level</ion-select-option>
          <ion-select-option value="A' Level">A' Level</ion-select-option>
          <ion-select-option value="Diploma">Diploma</ion-select-option>
          <ion-select-option value="HND">HND</ion-select-option>
          <ion-select-option value="Degree">Degree</ion-select-option>
          <ion-select-option value="Master">Master</ion-select-option>
        </ion-select>
          <ng-container>
            <div *ngIf="(JobsForm.get('qualification').required)">
              <ion-label color="danger">{{ err_msg }}</ion-label>
            </div>
          </ng-container>
        </ion-card>

    <ion-label>Salary min</ion-label>
    <ion-card>
        <ion-input formControlName="salary_from" type="number" format="currency" placeholder="Amount" required>
          
        </ion-input>
        <ng-container>
          <div *ngIf="(JobsForm.get('salary_from').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>Salary max</ion-label>
    <ion-card>
        <ion-input formControlName="salary_to" type="number" currency placeholder="Amount" required>
          
        </ion-input>
        <ng-container>
          <div *ngIf="(JobsForm.get('salary_to').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>Requirements</ion-label>
    <ion-card>
        <ion-textarea id="requirement" name="requirement" formControlName="requirement" placeholder="Enter Job requirement" required>
          
        </ion-textarea>
        <ng-container>
          <div *ngIf="(JobsForm.get('requirement').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>Candidate Types</ion-label>
    <ion-card>

      <ion-select formControlName="candidate_types" interface="action-sheet" placeholder="Select fruit">
        <ion-select-option value="Part-time">Part-time</ion-select-option>
        <ion-select-option value="Fulltime">Fulltime</ion-select-option>
        <ion-select-option value="Internship">Internship</ion-select-option>
      </ion-select>

        <ng-container>
          <div *ngIf="(JobsForm.get('candidate_types').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>District</ion-label>
    <ion-card>

      <ion-select formControlName="district" interface="action-sheet" placeholder="Select fruit">
        <ion-select-option value="Brunei Muara">Brunei Muara</ion-select-option>
        <ion-select-option value="Tutong">Tutong</ion-select-option>
        <ion-select-option value="Belait">Belait</ion-select-option>
        <ion-select-option value="Temburung">Temburung</ion-select-option>
      </ion-select>

        <ng-container>
          <div *ngIf="(JobsForm.get('district').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>Post Duration</ion-label>
    <br>
    <br>
    <ion-label>From:</ion-label>
    <ion-card>
        <ion-datetime formControlName="post_duration_from" presentation="date" required>
          
        </ion-datetime>
        <ng-container>
          <div *ngIf="(JobsForm.get('post_duration_from').required)">
            <ion-label color="danger">{{ err_msg }}</ion-label>
          </div>
        </ng-container>
    </ion-card>

    <ion-label>To:</ion-label>
    <ion-card>
      <ion-datetime formControlName="post_duration_to" presentation="date" required>
        
      </ion-datetime>
      <ng-container>
        <div *ngIf="(JobsForm.get('post_duration_to').required)">
          <ion-label color="danger">{{ err_msg }}</ion-label>
        </div>
      </ng-container>
  </ion-card>

    <ion-button id="confirm" expand="block" type="submit">POST</ion-button>
  </ion-grid>
  </form>
</ion-content>

