// html{
    
//     --background: #ffffff;
// }

ion-content{
    --background: #EDF7F6;
}

ion-footer{
    background-color: #EDF7F6;

}

.ion-text-center{
    color: black;
}

.footer{
    min-height: 10em;
    height: auto;
    
}

h1{  
    text-align: center;
    color: black;
}


img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    width: 100%;
}

.orangebtn{
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: orange;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}