<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div id="logo">
      <img src="assets/img/logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row id="searchbar">
        <ion-col size="9">
          <ion-searchbar placeholder="Search types" [(ngModel)]="search"></ion-searchbar>
        </ion-col>
      
        <ion-col size="3">
          <ion-button id="filter" shape="round" size="small">
            <ion-icon name="color-filter"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-list>
    <ion-card class="list" *ngFor="let jobs of jobList ; let i = index" filter:search>
      <ion-item>
        <ion-grid>
            <ion-row>
                  <ion-col size="3" class="ion-align-self-center">    
                      <!-- <img src="{{ jobs.img }}" alt=""> -->
                      <ion-img src="assets/img/pblog.png" alt=""></ion-img>
                  </ion-col>

                  <ion-col class="ion-align-self-center ion-text-center">    
                      <p id="title">{{ jobs.company_name }}</p>
                      <p id="subtitle">{{ jobs.job_position }}</p>
                      <p class="text"><ion-icon name="wallet-outline"></ion-icon> : {{ jobs.salary_from | currency }} ~ {{ jobs.salary_to | currency }}</p>
                      <p class="text"><ion-icon name="pin"></ion-icon> : {{ jobs.district }}</p>
                  </ion-col>

                  <ion-col class="ion-align-self-center ion-text-end">
                      <ion-button class="twobutton" size="small" shape="round">apply</ion-button>
                      <ion-button class="twobutton" size="small" shape="round" (click)="setOpen(true); getitem(i)" >more info</ion-button>

                      <ion-modal [isOpen]="isModalOpen">
                        <ng-template>
                          <ion-header>
                            <ion-toolbar>
                              <div>
                                <img src="assets/img/logo.png">
                              </div>
                              <ion-buttons slot="end">
                                <ion-button (click)="setOpen(false)">Close</ion-button>
                              </ion-buttons>
                            </ion-toolbar>
                          </ion-header>
                          <ion-content>
                            <ion-item class="modallist">
                              <!-- <ion-card class="modallist"> -->
                                <ion-grid>
                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltitle">{{ onjob[0].job_position}}</p>
                                    </ion-col>
                                  </ion-row>
                                  
                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modalsubtitle">company_name {{ onjob[0].company_name}}</p>
                                    </ion-col>
                                  </ion-row>
                                  
                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <ion-img class="ion-text-center" [src]="onjob[0].img"></ion-img>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext"><ion-icon name="logo-usd"></ion-icon> : {{ onjob[0].salary_from}} - {{ onjob[0].salary_to}} </p>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext"> Category: {{ onjob[0].category}}</p>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext"> {{ onjob[0].qualification}}</p>
                                    </ion-col>
                                  </ion-row>
                                  
                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext"><ion-icon name="navigate"></ion-icon> : {{ onjob[0].district}}</p>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext"><ion-icon name="document"></ion-icon>requirement : {{ onjob[0].requirement}}</p>
                                    </ion-col>
                                  </ion-row>
                                  
                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <p class="ion-text-center" id="modaltext">category : {{ onjob[0].candidate_types}}</p>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row>
                                    <ion-col class="ion-align-self-center">
                                      <ion-button id="modalbtn" shape="round" expand="block">
                                        Apply
                                      </ion-button>
                                    </ion-col>
                                  </ion-row>

                                </ion-grid>
                              <!-- </ion-card> -->
                            </ion-item>
                            
                            <ion-footer>
                             
                            </ion-footer>
                          </ion-content>
                        </ng-template>
                      </ion-modal>
                  </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="footer">
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="dashboard" routerLink="/dashboard">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-footer>