<ion-header>
  <ion-toolbar>
    <ion-grid>
    <ion-row>
      <ion-col text-center>
        <p>User email: <strong>{{ userDetail }}</strong></p>
       </ion-col>
       <ion-col class="floatcon">
        <ion-button type="submit" color="danger" size="small" (click)="signOut()">Signout</ion-button>
       </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Welcome Jobseeker!</h1>
  <ion-grid>
    <div>
      <img src="assets/img/logo.jpeg" class="logo">
    </div>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="buttonbox" routerLink="/find-jobs" >Find Jobs</div>
      </ion-col>
      <ion-col>
        <div class="buttonbox" routerLink="/dashboard/application-status">Application Status</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div class="bigbox">
      <ion-slides  #slider loop="true" pager="true" [options]="slideOpts" (ionSlideTouchEnd)="slideChanged()" >
        <ion-slide>
          <img src="https://www.bruneida.com/media/fotos/growtec_106149_1_1642996284.jpg" />
        </ion-slide>
        <ion-slide>
          <img src="https://pbs.twimg.com/media/ErlSNA4UUAANesG.jpg:large" />
        </ion-slide>
        <ion-slide>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxyBtNW6NUmlDAcYQwE-cSMZFA5jNUOfFpQA&usqp=CAU" />
        </ion-slide>
      </ion-slides>
    </div>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="dashboard" routerLink="/dashboard">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-footer>

