<ion-content class="ion-padding">

  <div class="logo">
    <img src="assets/img/logo.png">
  </div>

      
      <div class="inputbox">
        <ion-input type="email" id="email" placeholder="Enter your email"></ion-input>
      </div>
      

      <div class="loginbtn">
      <ion-button (click)="reset()" type="submit">Reset Password</ion-button>
      </div>

  </ion-content>

  <ion-footer class="footer">
      <p class="ion-text-center">Dont't have an account? <a (click)="goToSignup()">Sign up</a></p>
  </ion-footer>
  

