<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="searchbar" inline>
    <ion-searchbar></ion-searchbar>
  </div>

  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <img src="" alt="">
          <ion-label>
            <ion-card-title>Receptionist</ion-card-title>
            <ion-card-subtitle>Politeknik Brunei</ion-card-subtitle>
            <ion-text>Salary</ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <ion-item>
            <img src="" alt="">
          <ion-label>  
            <ion-card-title>Human Resources Business Partner</ion-card-title>
            <ion-card-subtitle>Politeknik Brunei</ion-card-subtitle>
            <ion-text>Salary</ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
            <img src="" alt="">
          <ion-label text-wrap>
            <ion-card-title>IT Technician</ion-card-title>
            <ion-card-subtitle>Politeknik Brunei</ion-card-subtitle>
            <ion-text>Salary</ion-text>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item>
            <img src="" alt="">
          <ion-label text-wrap>  
            <ion-card-title>Programming Lecturer</ion-card-title>
            <ion-card-subtitle>Politeknik Brunei</ion-card-subtitle>
            <ion-text>Salary</ion-text>
          </ion-label>  
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
