#container {
  text-align: center;
  top: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  width: 100%;
}

// searchbar div
#searchbar {
  margin-left: 20px;
}
ion-searchbar {
  border-width : 10px;
  border-color: #F19953;
}

#filter {
margin-top: 10px;
height: 40px;
}

// toolbar text to be centered
ion-toolbar {
  text-align: center;
}

ion-label  ion-icon{
  // margin-right: 10px;
}

// background color for lists
.list {
  border-radius: 30px;
  --ion-background-color: #F19953;
  }

// for menu navigation
.bottom-toolbar {
  position: sticky;
}