#container {
  text-align: center;
  top: 20px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  width: 100%;
}

// searchbar div
#searchbar {
  display: block;
  margin-bottom: 30px;
}
ion-searchbar {
  border-width : 10px;
  border-color: #F19953;
}

#filter {
margin-top: 10px;
height: 40px;
}

// toolbar text to be centered
ion-toolbar {
  text-align: center;
}

#Logo {
  width: 226px;
  height: 135px;
  margin: auto;
}

// background color for lists
.list {
  border-radius: 30px;
  --ion-background-color: #F19953;
  }

.bottom-toolbar {
  position: sticky;
}