<ion-content>

  <div class="appheader">Application Status</div>

  <ion-card *ngFor="let jobs of jobList"> 
    <ion-thumbnail>
      <ion-img src="{{jobs.img}}"></ion-img>
    </ion-thumbnail>
    <br>
      <ion-label class="ion-text-wrap" > Job Position: {{jobs.job_position}}</ion-label><br>
       <ion-icon name="card-outline"></ion-icon><ion-label> Salary: {{jobs.salary_from}} - {{jobs.salary_to}}  </ion-label><br>
      <ion-icon name="map-outline"></ion-icon><ion-label>  Location: {{jobs.location }}</ion-label><br>
      <ion-button class="statusB" >Status: {{jobs.status}}</ion-button>
      

  </ion-card>

</ion-content>

<ion-footer class="footer">
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="dashboard" routerLink="/dashboard">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-footer>








  
  
  <!-- <div><ion-icon name="person-outline"></ion-icon> Profile</div>
  
  <div><ion-icon name="home-outline"></ion-icon> Home</div>

  <div><ion-icon name="cog-outline"></ion-icon> Settings</div> -->

  

