<ion-content class="ion-padding">

    <div class="logo">
      <img src="assets/img/logo.png">
    </div>

    <form class="form" [formGroup]="userForm" (ngSubmit)="signUp(userForm.value)">

      <div class="inputbox">
        <ion-input type="text" placeholder="Enter your name"></ion-input>
      </div>

      <div class="inputbox">
        <ion-input type="text" formControlName="email" placeholder="Enter your email"></ion-input>
      </div>
      
      <ng-container *ngFor="let error of error_msg.email">
        <div *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
  
      <div class="inputbox">
        <ion-input type="password" formControlName="password" class="form-controll" placeholder="Enter your password" required></ion-input>
      </div>
      
      <ng-container *ngFor="let error of error_msg.password">
          <div *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
            {{ error.message }}
          </div>
      </ng-container>

      <div class="inputbox">
        <ion-input type="text" placeholder="Enter your phone"></ion-input>
      </div>
      
      <div class="loginbtn">
      <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Sign Up</ion-button>
      </div>
      <label class="ion-text-center" color="danger">{{errorMsg}}</label>
      <label class="ion-text-center" color="success">{{successMsg}}</label>

    </form>
  </ion-content>

    <ion-footer class="footer">
      <p class="ion-text-center">Have an account? <a (click)="goToLogin()">Log in</a></p>
    </ion-footer>

    


